body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'NeueHaasGrotesk';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('./assets/fonts/NeueHaasDisplayRoman.ttf') format('truetype'),
       url('./assets/fonts/NeueHaasDisplayRomanItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('./assets/fonts/NeueHaasDisplayBold.ttf') format('truetype'),
       url('./assets/fonts/NeueHaasDisplayBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('./assets/fonts/NeueHaasDisplayLight.ttf') format('truetype'),
       url('./assets/fonts/NeueHaasDisplayLightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* Apply the font globally */
body {
  font-family: 'NeueHaasGrotesk', sans-serif;
}
